<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="prueba-guarra">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Me llamo [[first_name]] [[last_name]]</h2>
    <h3>y tengo [[age]]!</h3>

    <input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" value="{{age::input}}" max="70" />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PruebaGuarra extends Polymer.Element {
      static get is() { return 'prueba-guarra'; }
      static get properties() {
        return {
                  first_name: {
                    type: String,
                    value: 'Pepe'
                  },
                  last_name: {
                    type: String
                  },
                  age: {
                    type: Number
                  }
        };
      }
    }

    window.customElements.define(PruebaGuarra.is, PruebaGuarra);
  </script>
</dom-module>
