<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">

<dom-module id="test-iron-pages">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Llamada a Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- el jumbotron es un estilo de bootstrap que lo saca muy grande-->
    <div class="jumbotron">
      <h1>TEST IRON PAGES</h1>
    </div>

    <input type="text" value="{{componentName::input}}"></input>

    <!-- segun el valor de la propiedad selected: componentName es la que va a controlar lo que se muestra -->
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <!-- Tenemos que especificar el atributo que hemos definido en la linea de arriba
      para que entienda sobre cuales aplica, por eso ponemos component-name-->
      <div component-name="login-usuario">
        <!-- Y metemos aqui dentro lo que queremos que se muestre, no olvidarse de importarlo arriba -->
        <login-usuario></login-usuario>
      </div>

      <div component-name="visor-usuario">
        <visor-usuario></visor-usuario>
      </div>

      <div component-name="visor-cuentas">
        <visor-cuentas></visor-cuentas>
      </div>

    </iron-pages>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TestIronPages extends Polymer.Element {
      static get is() { return 'test-iron-pages'; }
      static get properties() {
        return {
          componentName: {
            type: String
          }
        };
      }
    }

    window.customElements.define(TestIronPages.is, TestIronPages);
  </script>
</dom-module>
