<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Llamada a Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Metemos componentes para crear un formulario base de login -->
    <input placeholder="email" type="email" value="{{email::input}}"></input>
    <input placeholder="password" type="password" value="{{password::input}}"></input>
    <button on-click="login">Login</button>

    <span hidden$="{{!logged}}">Bienvenido de nuevo</span>

    <!-- en primer lugar, esta iron-ajax no es Auto, hay que hacerlo bajo demanda cuando se presiona el boton -->
    <!-- iron-ajax por defecto hace un GET si no le especificamos el verbo -->
    <!-- hay que pasarle los datos en el body -->
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
                  first_name: {
                    type: String
                  },
                  last_name: {
                    type: String
                  },
                  email: {
                    type: String
                  },
                  id: {
                    type: Number
                  },
                  password: {
                    type: String
                  },
                  logged: {
                    type: Boolean,
                    value: false
                  }
        };
      }

      manageAJAXResponse(data) {
        console.log("showData");
        console.log(data.detail.response);

        <!-- lo marcamos como activo para que se muestre el componente que hemos asociado a esta propiedad -->
        this.logged = true;

        <!-- BAQUI hacemos una redireccion a los datos del usuario para que quede bien enlazado -->
        <!-- este no esta funcionando, es posible que sea porque el id no se llama asi en el response, debuguear -->
        window.location = "user/" + data.detail.response.id;

      }

      showError(error) {
        console.log("Hubo un error");
        console.log(error);

      }

      login() {
        console.log("TARARARARARARARARARARARARARARAA BATMAAAAN");

        <!-- metemos la logica para recoger los valores y usarlos -->
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        <!-- tenemos que acceder al body del iron-ajax e indicarle que este es su body para la peticion -->
        <!-- para referirnos al id de un elemento que este dentro del shadow dom, tenemos que usar el $-->
        <!-- hay que hacerle un stringify porque es un objeto, para pasarlo a json -->
        this.$.doLogin.body = JSON.stringify(loginData);
        <!-- esta es la llamada propiamente dicha al endpoint -->
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");

      }

    }


    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
