<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Llamada a Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Formulario basico -->
    <input placeholder="ID DE USUARIO" type="ID" value="{{userid::input}}"></input>
    <br></br>
    <button on-click="getAccounts">Consulta</button>
    <br></br>
    <span hidden$="{{!found}}">SU CUENTA PRINCIPAL: [[iban]]</span>
    <br></br>
    <span hidden$="{{!found}}">SU BALANCE: [[balance]] €</span>

    <!-- Otra forma de presentarlo -->
    <!-- Otra forma de presentarlo como coleccion de objetos -->
        </br></br></br>
        <h1>Sus cuentas</h1>

        <template is="dom-repeat" items="{{accounts}}">
          <h3>IBAN - {{item.IBAN}} </h3>
          <h3>BALANCE - {{item.BALANCE}} </h3>
          </br>
        </template>

    <iron-ajax
      id="getUserAccounts"
      url="http://localhost:3000/apitechu/v1/users/{{userid}}/accounts"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
                  userid: {
                    type: Number
                  },
                  iban: {
                    type: Number
                  },
                  balance: {
                    type: String
                  },
                  found: {
                    type: Boolean,
                    value: false
                  },
                  accounts: {
                    type: Array
                  }
        };
      }


      getAccounts() {
        console.log("Buscando cuentas del cliente");
        // Llamamos al metodo que llama a la API
        this.$.getUserAccounts.generateRequest();
        console.log("Peticion enviada");
      }

      manageAJAXResponse(data) {
        console.log("showData");
        console.log(data.detail.response);

        // Establecemos los valores
        // Tener cuidado con los nombres que recuperamos, porque es case sensitive
        // ¡¡¡Mirarlo en la salida de la API!!! (lo que devuelve postman)
        // Lo comentamos ya que lo vamos a hacer de forma iterativa
        // para mostrar todos los elementos
        this.balance = data.detail.response[0].BALANCE;
        this.iban = data.detail.response[0].IBAN;
        // Esto lo hacemos como parte B de la practica, para mostrar todas las
        // cuentas que recuperamos del usuario
        this.accounts = data.detail.response;

        <!-- lo marcamos como activo para que se muestre el componente que hemos asociado a esta propiedad -->
        this.found = true;
      }

      showError(error) {
        console.log("Hubo un error");
        console.log(error);

      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
