<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="emisor-evento">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Llamada a Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h2>YO SOY TU PADRE!!</h2>
    <button on-click="sendEvent">Ñoooooooo</button>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {
        };
      }

      <!-- por convencion, cuando enviamos un evento se manda un e, que lleva los datos del evento que se esta enviando -->
      <!-- los eventos tienen un chorron de informacion -->
      sendEvent(e) {
        console.log("Pulsado boton");
        console.log(e);

        <!-- aqui se lanza el evento. La sintaxis es una puta mierda y hay que respetarla escrupulosamente -->
        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "detail" : {
                <!-- contenido que queremos hacer publico. Es suficientemente flexible como para meter lo que se necesite -->
                "course" : "Techu6",
                "year" : 2018
              }
            }
          )
        )
      }

    }

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
