<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="page-not-found">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Llamada a Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h2>NADA QUE VER, FUERA!!</h2>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
